@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Pragati+Narrow:400,700|Open+Sans:400,400i,60");
html {
  height: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.wrapper {
  min-height: 100%; }
  .wrapper::after {
    content: "";
    display: block; }
  @media screen and (max-width: 767px) {
    .wrapper {
      padding: 0 20px; } }

.body {
  position: relative;
  background: white;
  overflow: hidden;
  height: 100%;
  font-family: "Pragati Narrow", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2px;
  color: #787878;
  margin: 0px;
  font-weight: normal;
  background-size: cover; }
  @media screen and (max-width: 767px) {
    .body {
      position: inherit;
      overflow: inherit; } }
  .body-inner {
    background: white;
    overflow: inherit;
    top: 0 !important; }

.body-inner .wrapper {
  min-height: 0 !important; }

body.branding, body.btl, body.btl, body.desarrollo-web, body.quienes-somos, body.servicios, body.social-media {
  background-color: white;
  background: white; }

ul {
  padding-left: 0; }
  ul li {
    list-style: none; }

a {
  color: #787878;
  text-decoration: none; }

.hideme {
  opacity: 0.2; }

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto; }
  @media screen and (max-width: 767px) {
    .container {
      padding: 0 20px; } }

.content {
  position: absolute;
  top: 40%;
  width: 100%;
  font-size: 32px;
  font-weight: normal; }

.logo-makemark {
  width: 318px;
  bottom: 30%;
  display: table;
  margin: 200px auto 0px;
  color: #18191d; }
  @media screen and (max-width: 767px) {
    .logo-makemark {
      width: 90% !important; } }
  .logo-makemark--big {
    width: 100%; }

.section-desc {
  font-size: 22px;
  margin: 20px 0; }

.section-link {
  position: relative;
  color: white;
  font-size: 22px; }
  .section-link a span {
    position: absolute;
    color: #56bad2;
    font-size: 48px;
    display: inline-block;
    margin-top: -5px;
    margin-left: -40px;
    opacity: 0.5;
    transition: 0.5s; }
  .section-link a:hover {
    color: #787878; }
    .section-link a:hover span {
      opacity: 1;
      margin-left: 0; }

.content-inner {
  margin-top: 10%;
  position: relative; }

.lets-talk {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -125px;
  text-align: center; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?m7wwg4");
  src: url("../fonts/icomoon.eot?m7wwg4#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?m7wwg4") format("truetype"), url("../fonts/icomoon.woff?m7wwg4") format("woff"), url("../fonts/icomoon.svg?m7wwg4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-ico-ad:before {
  content: "\e900"; }

.icon-ico-arrow:before {
  content: "\e901"; }

.icon-ico-branding:before {
  content: "\e902"; }

.icon-ico-code:before {
  content: "\e903"; }

.icon-ico-coffee-hover:before {
  content: "\e904"; }

.icon-ico-coffee:before {
  content: "\e905"; }

.icon-ico-dev:before {
  content: "\e906"; }

.icon-ico-fb:before {
  content: "\e907"; }

.icon-ico-heart:before {
  content: "\e908"; }

.icon-ico-instagram:before {
  content: "\e909"; }

.icon-ico-smile-hover:before {
  content: "\e90a"; }

.icon-ico-smile:before {
  content: "\e90b"; }

.icon-ico-social:before {
  content: "\e90c"; }

.icon-ico-strategy:before {
  content: "\e90d"; }

.icon-ico-twitter:before {
  content: "\e90e"; }

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0px 0px 10px;
  z-index: 3; }
  header .social {
    display: flex; }
    header .social-item {
      display: inline-flex;
      width: 20px;
      height: 20px; }
      header .social-item--links {
        display: block;
        color: #18191d; }
      header .social-item--inner {
        color: white !important; }
  header .nav {
    position: relative;
    display: block; }
  header .nav-home--link {
    position: relative;
    display: block;
    padding-right: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 95px;
    height: 20px; }
    header .nav-home--link:hover {
      border-bottom: 1px solid #56bad2; }
      header .nav-home--link:hover:before {
        position: absolute;
        content: '';
        width: 25px;
        height: 3px;
        background-color: #56bad2;
        bottom: -1.5px; }
    @media screen and (max-width: 767px) {
      header .nav-home--link {
        display: none; } }

section.active {
  border-bottom: none; }
  section.active::before {
    display: none; }

.breadcrumb {
  position: absolute;
  z-index: 1; }
  .breadcrumb-list {
    display: inline-block; }
    .breadcrumb-list--link {
      display: block;
      padding: 2px; }
      .breadcrumb-list--link:hover {
        opacity: 0.8;
        border-bottom: 1px solid #787878; }
  .breadcrumb-block {
    position: relative;
    top: 40px; }

.top-header--inner {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #18191d;
  display: block;
  min-height: 40px;
  padding-top: 0px; }

.social {
  float: left;
  width: 20%;
  padding-top: 10px;
  line-height: 20px; }

.logo-inner {
  margin: 0 auto;
  width: 40px;
  color: white; }

.logo-inner--link {
  display: block; }

.show-menu {
  display: block !important; }

.nav-inner {
  position: absolute;
  right: 40px;
  top: 15px;
  width: auto;
  z-index: 8; }
  @media screen and (max-width: 767px) {
    .nav-inner {
      padding: 10px;
      top: 8px; } }
  .nav-inner--line {
    background-color: white !important; }

.nav-top--line {
  display: block;
  width: 10px;
  height: 1px;
  background-color: #18191d;
  margin-bottom: 2px; }
  .nav-top--line:first-child {
    width: 3px; }
  .nav-top--line:last-child {
    width: 15px; }

#nav-open {
  z-index: 20;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  #nav-open span {
    display: block;
    position: absolute;
    width: 100%;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
  #nav-open span:nth-child(1) {
    top: 0px; }
  #nav-open span:nth-child(2) {
    top: 4px; }
  #nav-open span:nth-child(3) {
    top: 8px; }
  #nav-open.open span:nth-child(1) {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  #nav-open.open span:nth-child(3) {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

#nav-close {
  z-index: 20;
  width: 20px;
  height: 20px;
  right: 0px;
  top: 20px;
  margin-right: 20px;
  position: absolute;
  cursor: pointer; }
  @media screen and (max-width: 767px) {
    #nav-close {
      right: 20px; } }
  #nav-close span {
    display: block;
    position: absolute;
    width: 100%;
    opacity: 1;
    left: 0; }
    #nav-close span:nth-child(1) {
      top: 8px !important;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg); }
    #nav-close span:nth-child(2) {
      display: none; }
    #nav-close span:nth-child(3) {
      top: 8px !important;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg); }
  #nav-close span:nth-child(1) {
    top: 0px; }
  #nav-close span:nth-child(2) {
    top: 4px; }
  #nav-close span:nth-child(3) {
    top: 8px; }
  #nav-close.open span:nth-child(1) {
    top: 8px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  #nav-close.open span:nth-child(2) {
    opacity: 0;
    left: -60px; }
  #nav-close.open span:nth-child(3) {
    top: 8px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); }

.nav-full {
  background: rgba(0, 0, 0, 0.8) !important;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-width: 280px;
  background: rgba(255, 123, 0, 0.98);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-100%) translateZ(0);
  -moz-transform: translateY(-100%) translateZ(0);
  -ms-transform: translateY(-100%) translateZ(0);
  -o-transform: translateY(-100%) translateZ(0);
  transform: translateY(-100%) translateZ(0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1), visibility 0.4s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.4s cubic-bezier(0.23, 1, 0.32, 1); }

.nav-container {
  flex-wrap: wrap;
  background-color: white;
  min-height: 50vh;
  opacity: 1;
  border-radius: 0 0 5px 5px;
  padding: 20px; }
  @media screen and (max-width: 767px) {
    .nav-container {
      height: 100vh; } }
  .nav-container--info {
    flex-wrap: wrap;
    align-content: space-between; }
  .nav-container--social {
    padding: 10px 0px;
    position: absolute;
    bottom: 0; }
  .nav-container--find-us {
    display: inline-flex;
    width: auto;
    padding: 10px 15px; }

.info-box {
  flex-wrap: wrap;
  display: inline-flex;
  width: 20%; }
  @media screen and (max-width: 767px) {
    .info-box {
      display: block;
      width: 100%;
      padding: 20px 0; } }
  .info-box--link {
    color: #56bad2;
    display: block;
    width: 100%; }
  .info-box--title {
    font-style: italic;
    position: relative;
    font-size: 22px;
    color: black;
    margin-bottom: 15px; }
    .info-box--title::before {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      width: 30px;
      height: 3px;
      background-color: #56bad2; }
  .info-box--message {
    font-size: 22px;
    padding: 18px; }
    @media screen and (max-width: 767px) {
      .info-box--message {
        padding: 20px 0px; } }
    .info-box--message span {
      color: #56bad2;
      font-style: italic;
      font-family: "Libre Baskerville", serif; }
  .info-box--blog {
    background-color: none;
    border: 1px solid #787878;
    border-radius: 20px;
    padding: 4px 0;
    text-align: center;
    width: 180px; }

.cl-effect-10 {
  position: relative;
  z-index: 1;
  width: 90%; }
  .cl-effect-10 a {
    overflow: hidden; }
    .cl-effect-10 a span {
      display: block;
      padding: 10px 0px;
      background: white;
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s; }
    .cl-effect-10 a::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      padding: 10px 20px;
      width: 100%;
      height: 100%;
      background: #56bad2;
      color: white;
      content: attr(data-hover);
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;
      -webkit-transform: translateX(-25%); }
    .cl-effect-10 a:hover span, .cl-effect-10 a:focus span {
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      transform: translateX(100%); }
    .cl-effect-10 a:hover::before, .cl-effect-10 a:focus::before {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      transform: translateX(0%); }

.find-us {
  padding: 0 15px; }

#menu {
  display: block;
  position: absolute;
  right: 0;
  margin-top: 20%; }

.active {
  color: #56bad2; }
  .active .nav-home--link {
    border-bottom: 1px solid #56bad2; }

.open-menu {
  visibility: visible;
  opacity: 1;
    opacity--webkit-transform: translateY(0) translateZ(0);
    opacity--moz-transform: translateY(0) translateZ(0);
    opacity--ms-transform: translateY(0) translateZ(0);
    opacity--o-transform: translateY(0) translateZ(0);
  transform: translateY(0) translateZ(0); }

.work {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  z-index: 1; }
  @media screen and (max-width: 767px) {
    .work {
      display: block;
      position: relative;
      margin-top: 40px; } }
  .work-trigger {
    display: table;
    width: 20%;
    float: left;
    position: relative; }
    .work-trigger .work--giro {
      -webkit-transition: all .6s;
      transition: all .6s;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      backface-visibility: hidden; }
    .work-trigger:hover .work--giro {
      -webkit-transform: rotateX(90deg) translateZ(74px);
      transform: rotateX(90deg) translateZ(74px);
      backface-visibility: hidden; }
    @media screen and (max-width: 767px) {
      .work-trigger {
        display: block;
        width: 100% !important; } }
  @media screen and (max-width: 767px) and (max-width: 767px) {
    .work-trigger {
      display: none; } }
    .work-trigger--access {
      display: inline-flex;
      align-content: center;
      height: 150px;
      width: 100%;
      padding: 0 20px;
      color: white;
      font-family: "Open Sans", sans-serif;
      font-style: italic;
      -webkit-transform: rotateX(0deg) translateZ(0);
      transform: rotateX(0deg) translateZ(0);
      backface-visibility: hidden; }
      .work-trigger--access::after {
        pointer-events: none;
        position: absolute;
        content: '';
        width: 100%;
        height: 88px;
        top: -81px;
        left: 0; }
  .work-title {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-grow: 3;
    color: #18191d;
    text-align: right;
    position: relative;
    z-index: 2; }
    .work-title span {
      width: 100%;
      font-size: 24px; }

.text-slide {
  margin-top: 15px;
  text-align: center;
  color: #333;
  font-size: 32px; }
  .text-slide span {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    color: #56bad2; }

.front {
  transform: rotateX(0deg) translateZ(74px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.back {
  transform: rotateX(-90deg) translateZ(-75px);
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2; }
  .back::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5); }

.branding {
  background-color: #77b4b4;
  background-image: url("../images/access/access-1-brand-bg.png");
  background-repeat: no-repeat; }
  .branding::after {
    background-image: url("../images/access/access-1-brand-after.png"); }
  .branding--title {
    color: white; }

.socialm {
  background-color: white;
  background-image: url("../images/access/access-2-social-bg.png");
  background-repeat: no-repeat; }
  .socialm::after {
    background-image: url("../images/access/access-2-social-after.png"); }
  .socialm--title {
    color: white; }

.desarrollow {
  background-color: #18191d;
  background-image: url("../images/access/access-3-develop-bg.png");
  background-repeat: no-repeat; }
  .desarrollow::after {
    background-image: url("../images/access/access-3-develop-after.png"); }
  .desarrollow--title {
    color: white; }

.publicidad {
  background-color: #56bad2;
  background-image: url("../images/access/access-4-marketing-bg.png");
  background-repeat: no-repeat; }
  .publicidad::after {
    background-image: url("../images/access/access-4-marketing-after.png"); }
  .publicidad--title {
    color: white; }

.btl {
  background-color: #18191d;
  background-image: url("../images/access/access-5-btl-bg.png");
  background-repeat: no-repeat; }
  .btl::after {
    background-image: url("../images/access/access-5-btl-after.png"); }
  .btl--title {
    color: white; }

.svg {
  position: fixed;
  width: 50%;
  top: 140px;
  right: -10%; }

.svg * {
  transform-origin: center center;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  -webkit-transition: all 1.5s, fill .5s;
  transition: all 1.5s, fill .5s; }

.animates * {
  fill: transparent !important; }

.lines * {
  stroke-width: 1px;
  stroke: #58bbd2; }

.fills * {
  stroke-dashoffset: 0; }

#globo, #mensaje {
  animation: moveup 3s ease-out infinite alternate;
  transform-origin: center center; }

#se1 {
  animation: opac 5s linear infinite alternate;
  transform-origin: center center; }

#se2 {
  animation: opac 1s linear infinite alternate;
  transform-origin: center center; }

#lineas, #lineas_1_, #cuadrado, #circulo, #cruz {
  animation: complete 5s linear infinite alternate;
  transform-origin: center center;
  stroke-dasharray: 20; }

#cursor {
  animation: cursore 5s ease-out infinite alternate;
  transform-origin: center center; }

.logo-makemark * {
  fill: #000; }

@keyframes moveup {
  from {
    transform: translate(0px, 0px); }
  to {
    transform: translate(0px, -20px); } }

@keyframes opac {
  from {
    display: none; }
  to {
    display: block; } }

@keyframes cursore {
  0% {
    transform: translate(0px, 0px); }
  30% {
    transform: translate(40px, 28px); }
  60% {
    transform: translate(-41px, -29px); }
  100% {
    transform: translate(0px, 0px); } }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.videobg-wrp {
  display: none; }

.videobg-wrp::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(../images/index/textura.png) rgba(0, 0, 0, 0.5); }

.videobg-elm {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%); }

.section-desc {
  color: #fff; }

.mas2 {
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  mix-blend-mode: screen;
  -webkit-mix-blend-mode: screen;
  -moz-mix-blend-mode: screen;
  -moz-mix-blend-mode: screen;
  z-index: -99; }

.letra {
  color: #000;
  font-size: 63vw;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: table;
  right: 90px;
  font-weight: bold; }

.move {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #000;
  border-radius: 50%;
  -webkit-transition: transform 1s ease-in-out;
  -moz-transition: transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out; }

.moveg {
  -webkit-transform: scale(3) !important;
  -moz-transform: scale(3) !important;
  -o-transform: scale(3) !important;
  -ms-transform: scale(3) !important;
  transform: scale(3) !important; }

.moveg2 {
  -webkit-transform: scale(50) !important;
  -moz-transform: scale(50) !important;
  -o-transform: scale(50) !important;
  -ms-transform: scale(50) !important;
  transform: scale(50) !important; }

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #0c0d0e;
  background: linear-gradient(to left, #650650, #444490, #2d2d67, #650650);
  background-size: 1000% 100%;
  animation: AwesomeBG 20s linear infinite;
  overflow: hidden;
  z-index: -98;
  top: 0;
  opacity: 0.9;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.bg {
  background: #65ccb8; }

#particles-js {
  position: fixed;
  z-index: -2;
  opacity: .4;
  width: 100%;
  height: 100%;
  top: 0; }

.progress {
  width: 50%;
  position: fixed;
  height: 5px;
  border: none;
  left: 0;
  background: linear-gradient(to left, #650650, #444490, #2d2d67, #650650);
  background-size: 1000% 100%;
  animation: AwesomeBG 1s linear infinite; }

footer {
  margin-top: 100px;
  text-align: center; }

.foo {
  position: relative; }
  .foo-top {
    background-color: #18191d;
    padding: 100px 0;
    min-height: 160px;
    text-align: left;
    background-image: url("../images/foo-top-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
    .foo-top--date {
      display: block;
      color: white; }
      @media screen and (max-width: 767px) {
        .foo-top--date {
          text-align: center; } }
    .foo-top--phrase {
      position: relative;
      color: #56bad2;
      font-size: 22px; }
      @media screen and (max-width: 767px) {
        .foo-top--phrase {
          padding: 0px;
          font-size: 20px; } }
      .foo-top--phrase span {
        position: absolute;
        font-size: 24px;
        display: inline-block;
        margin-top: 5px;
        margin-left: 10px; }
  .foo-bottom {
    flex-wrap: wrap;
    padding: 40px 0;
    min-height: 160px;
    text-align: left; }
    @media screen and (max-width: 767px) {
      .foo-bottom {
        text-align: center;
        margin-top: 40px; } }
    .foo-bottom--phrase {
      color: #56bad2;
      font-size: 22px;
      text-align: center;
      display: inline-flex;
      align-items: center;
      width: 30% !important; }
      .foo-bottom--phrase span {
        width: 70%; }
        @media screen and (max-width: 767px) {
          .foo-bottom--phrase span {
            width: 100%; } }
    .foo-bottom--list {
      display: inline-flex;
      align-items: stretch;
      width: 26%; }
      @media screen and (max-width: 767px) {
        .foo-bottom--list {
          display: block;
          width: 100%; } }
      .foo-bottom--list:last-child {
        width: 15%; }
        @media screen and (max-width: 767px) {
          .foo-bottom--list:last-child {
            display: block;
            width: 100%; } }
      .foo-bottom--list ul {
        display: block;
        width: 100%; }
        .foo-bottom--list ul li:first-child {
          position: relative;
          border-bottom: 1px solid rgba(120, 120, 120, 0.2);
          padding-bottom: 10px;
          margin-bottom: 10px;
          color: black;
          font-style: italic; }
          .foo-bottom--list ul li:first-child::before {
            position: absolute;
            content: '';
            width: 40px;
            height: 2px;
            background-color: #56bad2;
            bottom: 0; }

.inner-title {
  position: relative;
  height: 150px; }
  .inner-title--desc {
    max-width: 565px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    top: -180px;
    text-align: center;
    min-height: 335px;
    background-color: #56bad2;
    color: white;
    font-size: 60px; }
    .inner-title--desc span {
      font-weight: bold; }
  .inner-title--info > ul {
    margin-top: 50px;
    color: #787878;
    font-size: 48px; }

.info-list {
  margin-top: 50px;
  color: black;
  font-size: 22px;
  font-style: italic; }

.inner-slide {
  height: 470px;
  position: relative;
  overflow: hidden;
  background-color: grey; }
  .inner-slide--img {
    width: 100%;
    top: -150px;
    position: relative; }
    @media screen and (max-width: 767px) {
      .inner-slide--img {
        top: 0px;
        height: 100%; } }
  .inner-slide--deck {
    position: absolute;
    display: block;
    width: 100%;
    top: 25%;
    text-align: center;
    color: white;
    font-size: 22px; }
    .inner-slide--deck span {
      width: 100%;
      display: block; }

.content-inner {
  display: inline-block; }
  .content-inner--title {
    font-family: "Libre Baskerville", serif;
    font-size: 48px;
    color: #56bad2; }
  .content-inner--lightbox ul {
    border-left: 1px solid #787878; }
    .content-inner--lightbox ul li {
      text-transform: uppercase;
      padding: 0px 20px; }

.graph-block {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 25, 29, 0.1);
  transition: all 0.9s ease-in-out;
    transition--moz-transition: all 0.9s ease-in-out;
    transition--ms-transition: all 0.9s ease-in-out;
    transition--o-transition: all 0.9s ease-in-out; }
  .graph-block:hover {
    margin-left: -220px; }
  .graph-block--mask {
    width: 100%;
    height: 100%; }

.nav-full {
  animation-duration: 0.4s;
  animation-name: slidein; }

@keyframes slidein {
  from {
    margin-bottom: 100%;
    opacity: 0; }
  to {
    margin-bottom: 0%;
    opacity: 1; } }

.icon-ico-smile:before {
  content: "\e90b";
  -webkit-animation: cambio_smile 2s infinite linear;
  -moz-animation: cambio_smile 2s infinite linear;
  animation: cambio_smile 2s infinite linear; }

.icon-ico-coffee:before {
  content: "\e905";
  -webkit-animation: cambio_coffe 2s infinite linear;
  -moz-animation: cambio_coffe 2s infinite linear;
  animation: cambio_coffe 2s infinite linear; }

@keyframes cambio_smile {
  from {
    content: "\e90b"; }
  to {
    content: "\e90a"; } }

@-webkit-keyframes cambio_smile {
  from {
    content: "\e90b"; }
  to {
    content: "\e90a"; } }

@-moz-keyframes cambio_smile {
  from {
    content: "\e90b"; }
  to {
    content: "\e90a"; } }

@keyframes cambio_coffe {
  from {
    content: "\e905"; }
  to {
    content: "\e904"; } }

@-webkit-keyframes cambio_coffe {
  from {
    content: "\e905"; }
  to {
    content: "\e904"; } }

@-moz-keyframes cambio_coffe {
  from {
    content: "\e905"; }
  to {
    content: "\e904"; } }

h1.page-title {
  font-family: "Libre Baskerville", serif;
  color: #18191d;
  margin-top: 100px; }

h2 {
  font-family: "Libre Baskerville", serif;
  color: #18191d; }

.video-team {
  height: 445px;
  margin-bottom: 45px !important; }

.newsletter {
  text-align: center;
  color: #787878; }
  .newsletter-input {
    border-radius: 20px;
    margin: 0px !important; }
  .newsletter-btn {
    margin-top: 0px !important; }
    @media screen and (max-width: 767px) {
      .newsletter-btn {
        margin-top: 20px !important; } }

.social-feed {
  margin-top: 40px;
  display: block; }
  .social-feed--list {
    display: block; }
  .social-feed--post {
    display: inline-block;
    width: 32%;
    height: 250px;
    background: peru; }
    @media screen and (max-width: 767px) {
      .social-feed--post {
        width: 100%; } }

.underline-hover {
  color: #787878;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden; }
  .underline-hover:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #2098d1;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .underline-hover:hover:before, .underline-hover:focus:before, .underline-hover:active:before {
    left: 0;
    right: 0; }

button.btn-send {
  position: relative;
  float: right;
  border-radius: 22px;
  padding: 10px 20px;
  background-color: #56bad2;
  background: #56bad2;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 40px; }
  @media screen and (max-width: 767px) {
    button.btn-send {
      width: 100%; } }

input {
  border: 1px solid #787878;
  text-align: center;
  width: 50%; }
  @media screen and (max-width: 767px) {
    input {
      width: 100%; } }

input.newsletter {
  border-radius: 20px; }

.text {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  height: 70px; }

.area {
  width: 100%;
  float: left;
  margin-top: 15px;
  border: 1px solid #787878;
  padding: 20px; }
  .area .input {
    width: auto;
    padding: 0px 15px;
    float: left;
    margin: 5px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    color: #fff;
    background-color: white;
    border: 1px solid #787878; }
    .area .input .checkbox {
      color: white; }
    .area .input label {
      width: auto;
      float: left;
      position: relative; }
    .area .input input {
      display: none; }
    .area .input label {
      font-weight: 400;
      color: white;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      font-size: 14px;
      z-index: 3;
      height: 30px;
      line-height: 30px; }
    .area .input:hover {
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.click-efect {
  position: absolute;
  top: 0;
  left: 0;
  background: #56bad2;
  border-radius: 50%; }

.form-label {
  display: block; }

input {
  display: block;
  width: 100%;
  padding: 10px; }

textarea {
  display: block;
  width: 100%;
  padding: 10px; }

/*  SECTIONS */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  COLUMN SETUP */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }
  .col:first-child {
    margin-left: 0; }

.no-margin {
  display: block;
  float: left;
  margin: 1% 0; }
  .no-margin:first-child {
    margin-left: 0; }

.pull-center {
  margin: 0 auto; }

/*  GROUPING */
.group {
  zoom: 1;
  /* For IE 6/7 */ }
  .group:before {
    content: "";
    display: table; }
  .group:after {
    content: "";
    display: table;
    clear: both; }

/*  GRID OF TWELVE */
.span_12_of_12 {
  width: 100%; }

.span_11_of_12 {
  width: 91.53%; }

.span_10_of_12 {
  width: 83.06%; }

.span_9_of_12 {
  width: 74.6%; }

.span_8_of_12 {
  width: 66.13%; }

.span_7_of_12 {
  width: 57.66%; }

.span_6_of_12 {
  width: 49.2%; }

.span_5_of_12 {
  width: 40.73%; }

.span_4_of_12 {
  width: 32%; }

.span_3_of_12 {
  width: 23.8%; }

.span_2_of_12 {
  width: 15.33%; }

.span_1_of_12 {
  width: 6.866%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%; }
  .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
    width: 100%; } }
