
.form-label
  display: block
  margin: 20px 0

input, textarea
  display: block
  width: 100%
  padding: 10px
  text-align: left
  color: #6f6f6f
  font-size: 14px
  outline: none

textarea
  display: block
  width: 100%
  padding: 10px

.inputs
  display: table

.content-inner
  &--email
    margin-top: 100px
    padding: 40px
    border: 1px solid grey

.btn-send
  background-color: $color-blue
  color: white
  border-radius: 20px
  border: none
  text-align: center
  margin-top: 20px
