
h1.page-title
  font-family: $font-italic
  color: $color-darker-blue
  margin-top: 100px

h2
  font-family: $font-italic
  color: $color-darker-blue

.video-team
  height: 445px
  margin-bottom: 45px !important

.newsletter
  text-align: center
  color: $color-grey

.social-feed
  margin-top: 40px
  display: block
  &--list
    display: block
  &--post
    display: inline-block
    width: 32%
    height: 250px
    background: pink
    @media screen and (max-width:$screen-xs-max)
      width: 100%
