
h1.page-title
  font-family: $font-italic
  color: $color-darker-blue
  margin-top: 100px

h2
  font-family: $font-italic
  color: $color-darker-blue

.video-team
  height: 445px
  margin-bottom: 45px !important

.newsletter
  text-align: center
  color: $color-grey
  margin-top: 100px
  &--input
    border-radius: 20px
    margin: 0px !important
  &--btn
    margin-top: 0px !important
    @media screen and (max-width:$screen-xs-max)
      margin-top: 20px !important
  &-form
    &--info
      margin-bottom: 100px
.social-feed
  padding-top:100px !important
  display: block
  &--list
    display: inline-block
    width: 250px
    height: 250px
    overflow: hidden
    padding: 5px
    &:hover
      opacity: 0.8
    @media screen and (max-width:$screen-xs-max)
      width: 100%
      height: auto
  &--link
    display: block
    overflow: hidden
  &--post
    display: block
    @media screen and (max-width:$screen-xs-max)
      width: 100%
  &--img
    width: 100%
    height: 250px
    @media screen and (max-width:$screen-xs-max)
      height: auto

figure.thumbnail-image
  position: absolute
  width: 100%
  height: 100%
  padding: 8px !important
