.plan
  display: block
  width: 100%
  text-align: left
  color: #6f6f6f
  font-size: 14px
  border: 1px solid transparentize($color-grey, 0.8)
  border-radius: 3px
  margin-bottom: 40px
  &-item
    padding: 20px
  &-title
    display: block
    background: pink
    font-size: $font-size-large
