@import "variables.sass"

//Global settings
html
  height: 100%
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

.wrapper
  min-height: 100%
  &::after
    content: ""
    display: block
  @media screen and (max-width:$screen-xs-max)
    padding: 0 20px

.body
  position: relative
  background: white
  overflow: hidden
  height: 100%
  font-family: $font-body
  font-size: $font-size-small
  line-height: 1.5
  letter-spacing: 2px
  color: $color-grey
  margin: 0px
  font-weight: normal
  background-size: cover
  @media screen and (max-width:$screen-xs-max)
    position: inherit
    overflow: inherit
  &-inner
    background: white
    overflow: inherit
    top: 0 !important

.body-inner
  .wrapper
    min-height: 0 !important

body.branding , body.btl , body.btl , body.desarrollo-web , body.quienes-somos , body.servicios, body.social-media
  background-color: white
  background: white

ul
  padding-left: 0
  li
    list-style: none
a
  color: $color-grey
  text-decoration: none
.hideme
  opacity: 0.2

.container
  position: relative
  max-width: $screen-lg-min
  margin: 0 auto
  @media screen and (max-width:$screen-xs-max)
    padding: 0 20px

.content
  position: absolute
  top: 40%
  width: 100%
  font-size: $font-size-large
  font-weight: normal

.logo-makemark
  width: 318px
  bottom: 30%
  display: table
  margin: 200px auto 0px
  color: $color-darker-blue
  @media screen and (max-width:$screen-xs-max)
    width: 90% !important
  &--big
    width: 100%

.section-desc
  font-size: $font-size-regular
  margin: 20px 0

.section-link
  position: relative
  color: white
  font-size: $font-size-regular
  a
    span
      position: absolute
      color: $color-blue
      font-size: $font-size-x-large
      display: inline-block
      margin-top: -5px
      margin-left: -40px
      opacity: 0.5
      transition: 0.5s
    &:hover
      color: $color-grey
      span
        opacity: 1
        margin-left: 0

.content-inner
  margin-top: 10%
  position: relative
  padding: 0 5px

.lets-talk
  color: white
  font-family: $font-title
  font-size: $font-size-x-large
  position: absolute
  left: 0
  right: 0
  bottom: -125px
  text-align: center
