@import "variables.sass"

//Global settings
html
  height: 100%
  box-sizing: border-box
*, *:before, *:after
  box-sizing: inherit

.wrapper
  min-height: 100%
  &::after
    content: ""
    display: block

ul
  padding-left: 0
  li
    list-style: none
a
  text-decoration: none
  color: white
  transition: all 0.2s linear
    -moz-transition: all 0.2s linear
    -ms-transition: all 0.2s linear
    -o-transition: all 0.2s linear
  &:hover
    opacity: 0.5

.hideme
  opacity: 0.2

.container
  position: relative
  max-width: $screen-lg-min
  margin: 0 auto

.content
  position: absolute
  top: 40%
  width: 100%
  font-size: $font-size-large
  font-weight: normal

.logo-makemark
  display: block
  width: 32%
  position: absolute
  padding-top: 26%

.section-desc
  font-size: $font-size-regular
  margin: 20px 0

.section-link
  position: relative
  color: white
  font-size: $font-size-regular
  a
    span
      position: absolute
      color: $color-blue
      font-size: $font-size-x-large
      display: inline-block
      margin-top: -5px
      margin-left: -40px
      opacity: 0.5
      transition: 0.5s
    &:hover
      color: $color-grey
      span
        opacity: 1
        margin-left: 0

.content-inner
  margin-top: 10%
  position: relative

footer
  margin-top: 100px
  text-align: center
.foo
  position: relative
  &-top
    background-color: $color-darker-blue
    padding: 100px 0
    min-height: 160px
    text-align: left
    background-image: url('../images/foo-top-bg.jpg')
    background-size: cover
    background-repeat: no-repeat
    &--date
      display: block
      color: white
    &--phrase
      position: relative
      color: $color-blue
      font-size: $font-size-regular
      span
        position: absolute
        font-size: 24px
        display: inline-block
        margin-top: 5px
        margin-left: 10px
  &-bottom
    text-align: right
    min-height: 160px
.lets-talk
  color: white
  font-family: $font-title
  font-size: $font-size-x-large
  position: absolute
  left: 0
  right: 0
  bottom: -125px
  text-align: center
