
.work
  display: flex
  position:  absolute
  bottom: 0
  width: 100%
  @media screen and (max-width:$screen-xs-max)
    display: block
    position: relative
    margin-top: 40px
  &-trigger
    display: inline-flex
    width: 20%
    background-color: $color-blue
    position: relative
    @media screen and (max-width:$screen-xs-max)
      display: block
      width: 100% !important
    &::after
      position: absolute
      content: ''
      width: 100%
      height: 88px
      top: -81px
      left: 0
      @media screen and (max-width:$screen-xs-max)
        display: none
    &--access
      display: flex
      flex-wrap: wrap
      align-content: center
      height: 150px
      width: 100%
      padding: 0 20px
      color: white
      font-family: $font-title
      font-style: italic
    &:nth-child(1)
      background-color: #77b4b4
      background-image: url('../images/access/access-1-brand-bg.png')
      background-repeat: no-repeat
      &::after
        background-image: url('../images/access/access-1-brand-after.png')
      div
        color: white
    &:nth-child(2)
      background-color: white
      background-image: url('../images/access/access-2-social-bg.png')
      background-repeat: no-repeat
      &::after
        background-image: url('../images/access/access-2-social-after.png')
    &:nth-child(3)
      background-color: $color-darker-blue
      background-image: url('../images/access/access-3-develop-bg.png')
      background-repeat: no-repeat
      &::after
        background-image: url('../images/access/access-3-develop-after.png')
      div
        color: white
    &:nth-child(4)
      background-color: $color-blue
      background-image: url('../images/access/access-4-marketing-bg.png')
      background-repeat: no-repeat
      &::after
        background-image: url('../images/access/access-4-marketing-after.png')
    &:nth-child(5)
      background-color: $color-darker-blue
      background-image: url('../images/access/access-5-btl-bg.png')
      background-repeat: no-repeat
      &::after
        background-image: url('../images/access/access-5-btl-after.png')
      div
        color: white
  &-title
    align-items: center
    display: flex
    justify-content: flex-end
    flex-grow: 3
    color: $color-darker-blue
    text-align: right
    span
      width: 100%
      font-size: 24px

.text-slide
  margin-top: 15px
  text-align: center
  font-size: $font-size-regular
  span
    font-family: $font-italic
    font-style: italic
    color: $color-blue
