header
  position: absolute
  top: 0
  left: 0
  right: 0
  padding: 10px 0px 0px 10px
  z-index: 3
  .social
      display: flex
      &-item
        display: inline-flex
        width: 20px
        height: 20px
        &--link
          display: block
          color: $color-darker-blue
  .nav
    position: relative
    display: block
  .nav-home
    &--link
      position: relative
      display: block
      padding-right: 10px
      border-bottom: 1px solid transparentize(white, 0.8)
      width: 95px
      height: 20px
      &:hover
        border-bottom: 1px solid $color-blue
        &:before
          position: absolute
          content: ''
          width: 25px
          height: 3px
          background-color: $color-blue
          bottom: -1.5px
      @media screen and (max-width:$screen-xs-max)
        display: none

section.active
  border-bottom: none
  &::before
    display: none

.body
  position: relative
  background: white
  overflow: hidden
  height: 100%
  font-family: $font-body
  font-size: $font-size-small
  line-height: 1.5
  letter-spacing: 2px
  color: $color-grey
  margin: 0px
  font-weight: normal
  background-size: cover
  &-inner
    background: white
    overflow: inherit
    top: 0 !important

.top-header--inner
  position: fixed
  top: 0
  z-index: 2
  width: 100%
  background-color: $color-dark-blue
  color: white
  display: block
  min-height: 35px

.social
  float: left
  width: 20%
  padding-top: 10px

.logo-inner
  margin: 0 auto
  width: 40px
  color: white

.logo-inner--link
  display: block
.show-menu
  display: block !important
.nav-inner
  position: absolute
  right: 0
  top: 15px
  width: auto
  z-index: 8
  @media screen and (max-width:$screen-xs-max)
    padding: 10px
    top: 8px

.nav-top
  &--line
    display: block
    width: 10px
    height: 1px
    background-color: $color-darker-blue
    margin-bottom: 2px
    &:first-child
      width: 3px
    &:last-child
      width: 15px

#nav-open
  width: 20px
  height: 20px
  position: relative
  -webkit-transform: rotate(0deg)
  -moz-transform: rotate(0deg)
  -o-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-transition: .5s ease-in-out
  -moz-transition: .5s ease-in-out
  -o-transition: .5s ease-in-out
  transition: .5s ease-in-out
  cursor: pointer
  span
    display: block
    position: absolute
    width: 100%
    opacity: 1
    left: 0
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    -webkit-transition: .25s ease-in-out
    -moz-transition: .25s ease-in-out
    -o-transition: .25s ease-in-out
    transition: .25s ease-in-out
  span
    &:nth-child(1)
      top: 0px
    &:nth-child(2)
      top: 4px
    &:nth-child(3)
      top: 8px
  &.open span
    &:nth-child(1)
      top: 8px
      -webkit-transform: rotate(135deg)
      -moz-transform: rotate(135deg)
      -o-transform: rotate(135deg)
      transform: rotate(135deg)
    &:nth-child(2)
      opacity: 0
      left: -60px
    &:nth-child(3)
      top: 8px
      -webkit-transform: rotate(-135deg)
      -moz-transform: rotate(-135deg)
      -o-transform: rotate(-135deg)
      transform: rotate(-135deg)

.nav-full
  display: none
  position: absolute
  left: 0
  top: 0
  width: 100vw
  height: 100vh
  background: white
  opacity: 0
  transition: all 0.2s linear
    -moz-transition: all 0.2s linear
    -ms-transition: all 0.2s linear
    -o-transition: all 0.2s linear
  &--link
    display: inline-block
    float: left
    width: 19%
    height: 100vh
    padding-top: 35%
    text-align: center
    border-right: 1px solid white
    @media screen and (max-width:$screen-xs-max)
      width: 100%
      height: 50px
      padding-top: 20%
    &:hover
      background-color: white
  &--en
    position: relative
    display: none
    float: right
    padding-left: 45px
    width: 100%
    color: $color-blue
    display: inline
    background: -webkit-linear-gradient(left, $color-darker-blue, $color-blue)
    background-size: 200% 100%
    background-position: right 0
    background-repeat: no-repeat
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    -webkit-transition: background 1s

#menu
  display: block
  position: absolute
  right: 0
  margin-top: 20%
.active
  position: relative
  display: block
  padding-right: 10px
  min-width: 180px
  height: 20px
  border-bottom: 1px solid $color-blue
  &:before
    position: absolute
    content: ''
    width: 25px
    height: 3px
    background-color: $color-blue
    bottom: -1.5px
    z-index: 2
  .nav-home--link
    border-bottom: 1px solid $color-blue

.open-menu
  display: block
  opacity: 1
