
.nav-full
  display: block
  position: absolute
  left: 0
  top: 0
  width: 100vw
  height: 100vh
  background: $color-dark-blue
  z-index: 2
  &--link
    display: inline-block
    width: 19%
    height: 100vh
    padding-top: 35%
    text-align: center
    border-right: 1px solid $color-darker-blue
    &:hover
      background-color: $color-darker-blue
