body
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

.videobg-wrp 
  background: #000
  
.videobg-elm 
  position: fixed
  display: none
  top: 50%
  left: 50%
  min-width: 100%
  min-height: 100%
  width: auto
  height: auto
  z-index: -100
  -ms-transform: translateX(-50%) translateY(-50%)
  -moz-transform: translateX(-50%) translateY(-50%)
  -webkit-transform: translateX(-50%) translateY(-50%)
  transform: translateX(-50%) translateY(-50%)

.section-desc 
  color: #fff
  
.mas2
  background: white
  position: absolute
  width: 100%
  height: 100%
  top: 0
  mix-blend-mode: screen
  -webkit-mix-blend-mode: screen
  -moz-mix-blend-mode: screen
  -moz-mix-blend-mode: screen
  z-index: -99

.letra
  color: #000
  font-size: 63vw
  position: absolute
  top: -250px
  right: 30px
  font-weight: bold

.move
  position: absolute
  width: 200px
  height: 200px
  background: #000
  border-radius: 50%
  -webkit-transition: transform 1s ease-in-out
  -moz-transition: transform 1s ease-in-out
  -o-transition: transform 1s ease-in-out
  transition: transform 1s ease-in-out

.moveg 
  -webkit-transform: scale(3)!important
  -moz-transform: scale(3)!important
  -o-transform: scale(3)!important
  -ms-transform: scale(3)!important
  transform: scale(3)!important

.moveg2
  -webkit-transform: scale(50)!important
  -moz-transform: scale(50)!important
  -o-transform: scale(50)!important
  -ms-transform: scale(50)!important
  transform: scale(50)!important

.bg
  width: 100%
  height: 100%
  position: absolute
  background: #0c0d0e
  background: linear-gradient(to left, #650650, #444490, #2d2d67, #650650);
  background-size: 1000% 100%;
  animation: AwesomeBG 20s linear infinite;
  overflow: hidden;
  z-index: -98
  top: 0
  opacity: 0.9
  -webkit-transition: all 1s ease-in-out
  -moz-transition: all 1s ease-in-out
  -o-transition: all 1s ease-in-out
  transition: all 1s ease-in-out

.bg
  background: linear-gradient(to left, #650650, #444490, #2d2d67, #650650)
  background-size: 1000% 100%
  animation: AwesomeBG 20s linear infinite

@keyframes AwesomeBG
  0%
    background-position: 0 0

  5%
    background-position: 8% 0

  13%
    background-position: 15% 0

  19%
    background-position: 23% 0

  25%
    background-position: 30% 0

  31%
    background-position: 38% 0

  38%
    background-position: 45% 0

  44%
    background-position: 53% 0

  50%
    background-position: 60% 0

  56%
    background-position: 68% 0

  63%
    background-position: 75% 0

  69%
    background-position: 83% 0

  75%
    background-position: 90% 0

  81%
    background-position: 98% 0

  88%
    background-position: 105% 0

  94%
    background-position: 113% 0

  100%
    background-position: 120% 0

#particles-js
  position: fixed
  z-index: -2
  opacity: .4
  width: 100%
  height: 100%
  top: 0

.progress 
  width: 50%
  position: fixed
  height: 5px
  border: none
  left: 0
  background: linear-gradient(to left, #650650, #444490, #2d2d67, #650650)
  background-size: 1000% 100%
  animation: AwesomeBG 1s linear infinite
  
 
  

