  <div class="foo-top">
    <div class="container">
      <div class="foo-top--date" id="date">

      </div>
    </div>
  </div>
  <div class="foo-bottom">
    <div class="container">
      <div class="section group">
        <div class="foo-bottom--phrase">
          <span>¿Ya tienes una verdadera estrategia?</span>
        </div>
        <div class="foo-bottom--list">
          <ul>
            <li>Dirección</li>
            <li>Complejo Ruta N</li>
            <li>Calle 67 Nº 52-20 - Piso 5, torre A</li>
            <li>Medellín - Colombia</li>
          </ul>
        </div>
        <div class="foo-bottom--list">
          <ul>
            <li>Contacto</li>
            <li>+57 (4) 516 7770 ext. 1086</li>
            <li>+57 300 740 06 75</li>
            <li>hola@makemark.com.co</li>
          </ul>
        </div>
        <div class="foo-bottom--list">
          <ul>
            <li>Redes</li>
            <li>Facebook</li>
            <li>Google+</li>
            <li>Instagram</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
