  <div class="foo-top">
    <div class="container">
      <div class="foo-top--date" id="date">

      </div>
    </div>
  </div>
  <div class="foo-bottom">
    <div class="container">
      <div class="section group">
        <div class="foo-bottom--phrase">
          <span>¿Ya tienes una verdadera estrategia?</span>
        </div>
        <div class="foo-bottom--list">
          <ul>
            <li>Dirección</li>
            <li>Complejo Ruta N</li>
            <li>Calle 67 Nº 52-20 - Piso 5, torre A</li>
            <li>Medellín - Colombia</li>
          </ul>
        </div>
        <div class="foo-bottom--list">
          <ul>
            <li>Contacto</li>
            <li>+57 (4) 423 43 ext. 2004</li>
            <li>+57 457 66 44</li>
            <li><a href="mailto:hola@email.com.co" class="foo-link">hola@makemark.com.co</a></li>
          </ul>
        </div>
        <div class="foo-bottom--list">
          <ul>
            <li>Redes sociales</li>
            <li><a href="#" class="foo-link">Facebook</a></li>
            <li><a href="#" class="foo-link">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
