<div class="btn-asesoria btn-cotizacion btn-active">Asesoria</div>
<div class="btn-cotizar btn-cotizacion">Cotizar</div>
<form id="contact-form" class="form" action="https://formspree.io/je.mapau@gmail.com" method="POST" name="form">
    <div>
      <label class="form-label" for="name">Nombre</label>
      <input type="text" name="name" value="" required>
    </div>
    <div>
      <label class="form-label" for="last-name">Apellido</label>
      <input type="text" name="last-name" value="" required>
    </div>
    <div class="cotiza-input">
      <label class="form-label" for="time">Tiempo del proyecto</label>
      <input type="text" name="time" value="">
    </div>
    <div class="cotiza-input">
      <label class="form-label" for="budget">Presupuesto</label>
      <input type="text" name="budget" value="">
    </div>
    <div class="cotiza-input" id="tabs">
      <ul class="tabs">
        <li class="tabs-item"><a href="#tabs-1" class="tabs-item--link">Plan Básico</a></li>
        <li class="tabs-item"><a href="#tabs-2" class="tabs-item--link">Plan Premium</a></li>
        <li class="tabs-item"><a href="#tabs-3" class="tabs-item--link">Wordpress</a></li>
      </ul>
      <div id="tabs-1">
        <p>La mejor opción para comenzar a un precio inmejorable
          $350.000/1er año

          Sólo $244.428 a partir del segundo año.

          Ideal para poner tu negocio en línea
          Incluye un dominio gratis
          Incluye un correo electrónico O365 de Microsoft gratis
          Rápido y sin complicaciones. Listo en tan sólo 7 días hábiles
          Optimizado para buscadores, como Google y Bing (SEO)
          Sitio web de una página con información esencial acerca de tu empresa y un mapa interactivo
          Hay créditos de actualización disponibles a una baja tarifa
          <label>
            <input class="input-click" for="standard-option" type="checkbox" name="standard-option" value="" id="checkbox-5">
            <span class="click-me">Solicitar</span>
          </label>
        </p>
      </div>
      <div id="tabs-2">
        <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
      </div>
      <div id="tabs-3">
        <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
        <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
      </div>
    </div>
    <div>
    <div class="checkbox-form">
      <div class="form-label">Seleccione los servicios de los cuales requiere asesoría</div>
      <label class="general-checkbox">
        <input class="input-click" for="branding-option" type="checkbox" name="branding-option" value="" id="checkbox-1">
        <span class="click-me">Branding</span>
      </label>
      <label class="general-checkbox">
        <input class="input-click" for="social-option" type="checkbox" name="social-option" value="" id="checkbox-2">
        <span class="click-me">Social Media</span>
      </label>
      <label class="general-checkbox">
        <input class="input-click" for="desarrollo-option" type="checkbox" name="desarrollo-option" value="" id="checkbox-3">
        <span class="click-me">Desarrollo Web</span>
      </label>
      <label class="general-checkbox">
        <input class="input-click" for="advertising-option" type="checkbox" name="advertising-option" value="" id="checkbox-4">
        <span class="click-me">Publicidad</span>
      </label>
      <label class="general-checkbox">
        <input class="input-click" for="btl-option" type="checkbox" name="btl-option" value="" id="checkbox-5">
        <span class="click-me">Btl</span>
      </label>
      <!-- Branding opciones -->
      <label class="branding-checkbox" style="display:none">
        <input class="input-click" for="creacion-nombre" type="checkbox" name="creacion-nombre" value="" id="checkbox-1">
        <span class="click-me">Conceptualización y creación de nombre</span>
      </label>
      <label class="branding-checkbox" style="display:none">
        <input class="input-click" for="personaje-corporativo" type="checkbox" name="personaje-corporativo" value="" id="checkbox-2">
        <span class="click-me">Personajes corporativos</span>
      </label>
      <label class="branding-checkbox" style="display:none">
        <input class="input-click" for="diseno-logo" type="checkbox" name="diseno-logo" value="" id="checkbox-3">
        <span class="click-me">Diseño y conceptualización de logo</span>
      </label>
      <label class="branding-checkbox" style="display:none">
        <input class="input-click" for="identidad-grafica" type="checkbox" name="identidad-grafica" value="" id="checkbox-4">
        <span class="click-me">Manual identidad gráfica</span>
      </label>
      <label class="branding-checkbox" style="display:none">
        <input class="input-click" for="papeleria-corporativa" type="checkbox" name="papeleria-corporativa" value="" id="checkbox-5">
        <span class="click-me">Papelería corporativa</span>
      </label>
      <!-- Social Media opciones -->
      <label class="social-checkbox" style="display:none">
        <input class="input-click" for="creacion-nombre" type="checkbox" name="creacion-nombre" value="" id="checkbox-1">
        <span class="click-me">Branded Content</span>
      </label>
      <label class="social-checkbox" style="display:none">
        <input class="input-click" for="personaje-corporativo" type="checkbox" name="personaje-corporativo" value="" id="checkbox-2">
        <span class="click-me">Social Media</span>
      </label>
      <label class="social-checkbox" style="display:none">
        <input class="input-click" for="diseno-logo" type="checkbox" name="diseno-logo" value="" id="checkbox-3">
        <span class="click-me">Seo</span>
      </label>
      <label class="social-checkbox" style="display:none">
        <input class="input-click" for="identidad-grafica" type="checkbox" name="identidad-grafica" value="" id="checkbox-4">
        <span class="click-me">Sem Publicidad Online</span>
      </label>
      <label class="social-checkbox" style="display:none">
        <input class="input-click" for="papeleria-corporativa" type="checkbox" name="papeleria-corporativa" value="" id="checkbox-5">
        <span class="click-me">Planificación de medios online</span>
      </label>
      <label class="social-checkbox" style="display:none">
        <input class="input-click" for="papeleria-corporativa" type="checkbox" name="papeleria-corporativa" value="" id="checkbox-5">
        <span class="click-me">Creación de campañas online</span>
      </label>
      <label class="social-checkbox" style="display:none">
        <input class="input-click" for="papeleria-corporativa" type="checkbox" name="papeleria-corporativa" value="" id="checkbox-5">
        <span class="click-me">Mailing</span>
      </label>
      <!-- Desarrollo Web opciones -->
      <label class="dev-checkbox">
        <input class="input-click" for="branding-option" type="checkbox" name="branding-option" value="" id="checkbox-1">
        <span class="click-me">Sitios Web</span>
      </label>
      <label class="dev-checkbox">
        <input class="input-click" for="social-option" type="checkbox" name="social-option" value="" id="checkbox-2">
        <span class="click-me">App Web</span>
      </label>
      <label class="dev-checkbox">
        <input class="input-click" for="desarrollo-option" type="checkbox" name="desarrollo-option" value="" id="checkbox-3">
        <span class="click-me">App Móviles</span>
      </label>
      <label class="dev-checkbox">
        <input class="input-click" for="advertising-option" type="checkbox" name="advertising-option" value="" id="checkbox-4">
        <span class="click-me">Landing Page</span>
      </label>
      <label class="dev-checkbox">
        <input class="input-click" for="btl-option" type="checkbox" name="btl-option" value="" id="checkbox-5">
        <span class="click-me">Formulario</span>
      </label>
      <!-- Publicidad opciones -->
      <label class="social-checkbox" style="display:none">
        <input class="input-click" for="creacion-nombre" type="checkbox" name="creacion-nombre" value="" id="checkbox-1">
        <span class="click-me">Planes de mercadeo</span>
      </label>
      <label class="social-checkbox" style="display:none">
        <input class="input-click" for="personaje-corporativo" type="checkbox" name="personaje-corporativo" value="" id="checkbox-2">
        <span class="click-me">Medios ATL</span>
      </label>
      <label class="social-checkbox" style="display:none">
        <input class="input-click" for="diseno-logo" type="checkbox" name="diseno-logo" value="" id="checkbox-3">
        <span class="click-me">Estrategias Promocionales</span>
      </label>
      <!-- Btl opciones -->
    </div>
    </div>
    <div>
      <label class="form-label" for="message">Mensaje</label>
      <textarea name="message" rows="8" cols="80" placeholder="Tu mensaje"></textarea>
    </div>
    <div>
      <input class="btn-send" name="send" type="submit" value="Enviar">
      <input type="hidden" name="_next" value="/email.html" />
    </div>
</form>
