<form class="form" action="http://formspree.io/je.mapau@gmail.com" method="POST">
    <div>
      <label class="form-label" for="name">Nombre</label>
      <input type="text" name="name" value="" required="required">
    </div>
    <div>
      <label class="form-label" for="last-name">Apellido</label>
      <input type="text" name="last-name" value="" required="required">
    </div>
    <div>
    <label class="form-label" for="">Selecciona 3 de nuestros servicios</label>
     <div class="inputs">
        <div class="area">
          <span class="input">
            <label for="branding-option">Branding</label>
            <input class="checkbox" type="checkbox" name="branding-option" id="checkbox-1">
          </span>
          <span class="input">
            <label for="marketing-option">Marketing estrátegico</label>
            <input class="checkbox" type="checkbox" name="marketing-option" id="checkbox-2">
          </span>
          <span class="input">
            <label for="btl-option">Btl</label>
            <input class="checkbox" type="checkbox" name="btl-option" id="checkbox-3">
          </span>
          <span class="input">
            <label for="social-option">Social Media</label>
            <input class="checkbox" type="checkbox" name="social-option" id="checkbox-4">
          </span>
          <span class="input">
            <label for="develop-option">Desarrollo Web</label>
            <input class="checkbox" type="checkbox" name="develop-option" id="checkbox-5">
          </span>
          <span class="input">
            <label for="advertising-option">Publicidad</label>
            <input class="checkbox" type="checkbox" name="advertising-option" id="checkbox-6">
          </span>
        </div>
     </div>
    </div>
    </div>
      <label class="form-label" for="message">Mensaje</label>
      <textarea name="name" rows="8" cols="80" placeholder="Tu mensaje" required="required"></textarea>
    </div>
    <div>
      <button class="btn-send" type="submit">Enviar</button>
    </div>
</form>